* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
}
h1,
h2,
h4,
.navbar a {
  font-family: "Cinzel", serif;
}

body {
  background: #5e111f;
  color: #fff;
}
.navbar {
  position: relative;
  z-index: 1000;
}

.carousel-item img {
  height: 700px;
  object-fit: cover;
  width: 100%;
}
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 10px;
  border-radius: 10px;
}
.card-img {
  max-width: 100%;
  height: 350px;
  border-radius: 9px;
}
.card-text {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
footer {
  text-align: center;
  padding: 10px 0;
}
