* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
}
h1,
h2,
h4,
h5,
.navbar a {
  font-family: "Cinzel", serif;
}

body {
  background-color: #5e111f;
  color: #f5f5f5;
}
.navbar {
  position: relative;
  z-index: 1000;
}

.carousel-item img {
  height: 700px;
  object-fit: cover;
  width: 100%;
}
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 10px;
}
.card {
  color: #f5f5f5;
  background-color: #1a1a1a;
  border-radius: 9px;
}
.card-img {
  max-width: 100%;
  height: 350px;
  background-color: #1a1a1a;
}
.card-text {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.btn {
  background-color: #c62828;
  color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  box-sizing: 8px;
  cursor: pointer;
}
.backstory {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

/* When active */
.backstory.show {
  max-height: 100%;
  opacity: 1;
  margin-top: 15px;
}

footer {
  text-align: center;
  padding: 10px 0;
}
